<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NBA - 10 best players</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>
    <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-1.2.4.js"></script>
    <!--<script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-1.2.4.js"></script>-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="controller.js"></script>
</head>
<body ng-app="app" ng-controller="MainController as main">
    <h2>NBA - 10 best players</h2>
    {{main.data}}
    <pre>{{main.data}}</pre>
    <p>Get your greeting <a href="/greeting">here</a></p>
    <button type="button" class="btn btn-default" ng-click=" main.load() ">
        main.load()
    </button>
    <button type="button" class="btn btn-default" ng-click=" main.load2() ">
        main.load2()
    </button>
</body>
</html>